.center-items {
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.hide{
    display: none;
}

.visibility-hidden{
    visibility: hidden;
}

.not-visible{
    height: 0;
}

.su-pgedit-wrapper {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #DBDBDB;
    box-shadow: 0 0 6px black;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

.su-pgedit-wrapper-btn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    scale: 1.1;
    cursor: pointer;
    position: relative;
}

.su-pgedit__active-service-selected {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: green;
    border-radius: 50%;
}

#su-pgedit-wrapper__edit,
#su-pgedit-wrapper__comment,
#su-pgedit-wrapper__download,
#su-pgedit-wrapper__highlight,
#su-pgedit-wrapper_active{
    padding: 0;
}

.su-pgedit-wrapper__edit,
.su-pgedit-wrapper__comment,
.su-pgedit-wrapper__download,
.su-pgedit-wrapper__highlight{
    width: 30px;
    height: 30px;
    padding: 0;
}

.su-pgedit-wrapper__download {
    clip-path: path("M7 3C5.89 3 5 3.89 5 5L5 26C5 27.1 5.89 28 7 28L20.779297 28C20.279297 27.46 20 26.74 20 26C20 24.35 21.35 23 23 23L23 21C23 19.7 23.84 18.589688 25 18.179688L25 10.5C25 10.23 24.900938 9.9790625 24.710938 9.7890625L18.210938 3.2890625C18.020937 3.1090625 17.76 3 17.5 3L7 3 z M 17 4.9003906L23.099609 11L18 11C17.45 11 17 10.55 17 10L17 4.9003906 z M 9.5703125 14.169922C9.8803125 14.169922 10.180703 14.199766 10.470703 14.259766C10.770703 14.309766 11.039531 14.419844 11.269531 14.589844C11.499531 14.759844 11.689844 14.990781 11.839844 15.300781C11.979844 15.600781 12.060547 15.990469 12.060547 16.480469C12.060547 16.920469 12.000859 17.289609 11.880859 17.599609C11.750859 17.909609 11.590859 18.159609 11.380859 18.349609C11.170859 18.539609 10.940156 18.679531 10.660156 18.769531C10.390156 18.859531 10.120078 18.900391 9.8300781 18.900391L9.5097656 18.900391C9.4397656 18.890391 9.3803125 18.890859 9.3203125 18.880859C9.2503125 18.870859 9.2096875 18.869375 9.1796875 18.859375L9.1796875 21.269531L7.9199219 21.269531L7.9199219 14.339844C8.1599219 14.289844 8.4209375 14.240703 8.7109375 14.220703C9.0009375 14.190703 9.2803125 14.169922 9.5703125 14.169922 z M 14.259766 14.169922L14.650391 14.169922C15.200391 14.169922 15.659297 14.249922 16.029297 14.419922C16.399297 14.589922 16.699922 14.830625 16.919922 15.140625C17.149922 15.450625 17.300391 15.829766 17.400391 16.259766C17.490391 16.689766 17.539062 17.180937 17.539062 17.710938C17.539062 18.200938 17.490391 18.659609 17.400391 19.099609C17.310391 19.549609 17.159687 19.939531 16.929688 20.269531C16.699687 20.609531 16.389766 20.880078 16.009766 21.080078C15.619766 21.280078 15.130781 21.380859 14.550781 21.380859C14.460781 21.380859 14.339219 21.379141 14.199219 21.369141C14.049219 21.359141 13.900234 21.349844 13.740234 21.339844C13.580234 21.329844 13.419297 21.320547 13.279297 21.310547C13.129297 21.300547 13.019453 21.289297 12.939453 21.279297L12.939453 14.269531C13.059453 14.249531 13.189844 14.230703 13.339844 14.220703C13.489844 14.210703 13.650781 14.199453 13.800781 14.189453C13.960781 14.179453 14.109766 14.179922 14.259766 14.169922 z M 18.539062 14.269531L22.039062 14.269531L22.039062 15.429688L19.800781 15.429688L19.800781 17.25L21.859375 17.25L21.859375 18.410156L19.800781 18.410156L19.800781 21.269531L18.539062 21.269531L18.539062 14.269531 z M 9.6894531 15.289062C9.4834531 15.289062 9.3136875 15.306844 9.1796875 15.339844L9.1796875 17.730469C9.2196875 17.744469 9.2942969 17.755625 9.4042969 17.765625C9.5142969 17.775625 9.5908594 17.779297 9.6308594 17.779297C9.7768594 17.779297 9.9167813 17.760703 10.050781 17.720703C10.183781 17.680703 10.302297 17.612625 10.404297 17.515625C10.508297 17.418625 10.591391 17.285234 10.650391 17.115234C10.711391 16.945234 10.740234 16.730703 10.740234 16.470703C10.740234 16.250703 10.711297 16.063156 10.654297 15.910156C10.597297 15.757156 10.521781 15.634922 10.425781 15.544922C10.328781 15.454922 10.215844 15.389609 10.089844 15.349609C9.9628437 15.309609 9.8294531 15.289062 9.6894531 15.289062 z M 14.779297 15.330078C14.673297 15.330078 14.565078 15.331937 14.455078 15.335938C14.346078 15.338938 14.259219 15.346375 14.199219 15.359375L14.199219 20.179688C14.220219 20.185688 14.254687 20.192312 14.304688 20.195312C14.354688 20.198313 14.408844 20.202078 14.464844 20.205078C14.520844 20.208078 14.573047 20.211844 14.623047 20.214844C14.673047 20.217844 14.708516 20.220703 14.728516 20.220703C15.028516 20.220703 15.27475 20.149766 15.46875 20.009766C15.66075 19.869766 15.814828 19.682219 15.923828 19.449219C16.033828 19.216219 16.109344 18.947531 16.152344 18.644531C16.195344 18.341531 16.21875 18.022453 16.21875 17.689453C16.21875 17.382453 16.199109 17.087781 16.162109 16.800781C16.128109 16.514781 16.057125 16.261922 15.953125 16.044922C15.849125 15.828922 15.704625 15.655391 15.515625 15.525391C15.325625 15.395391 15.078297 15.330078 14.779297 15.330078 z M 26 20C25.448 20 25 20.448 25 21L25 25L23 25C22.448 25 22 25.448 22 26C22 26.287 22.124359 26.541609 22.318359 26.724609L25.285156 29.697266C25.466156 29.883266 25.719 30 26 30C26.281 30 26.533844 29.882312 26.714844 29.695312L29.681641 26.724609C29.875641 26.542609 30 26.287 30 26C30 25.448 29.552 25 29 25L27 25L27 21C27 20.448 26.552 20 26 20 z");
    background-color: #F90011;
}

.su-pgedit-wrapper__edit {
    clip-path: path("M20.853516 2C20.590391 2 20.327953 2.1017344 20.126953 2.3027344L19.400391 3.0292969L21.970703 5.5996094L22.697266 4.8730469C23.099266 4.4720469 23.099266 3.8219219 22.697266 3.4199219L21.580078 2.3027344C21.379578 2.1017344 21.116641 2 20.853516 2 z M 18.371094 4.0566406L10.542969 11.886719L11.314453 12.142578L11.570312 13.429688L12.857422 13.685547L13.113281 14.457031L20.943359 6.6289062L18.371094 4.0566406 z M 3 8C1.897 8 1 8.897 1 10L1 20C1 21.103 1.897 22 3 22L27 22C28.103 22 29 21.103 29 20L29 10C29 8.897 28.103 8 27 8L22 8L20 10L27 10L27 20L3 20L3 10L10 10L12 8L3 8 z M 9.5917969 14.021484L9.0195312 15.640625 A 0.257 0.257 0 0 1 9.0195312 15.642578 A 0.257 0.257 0 0 0 9.0175781 15.648438L9.015625 15.654297 A 0.257 0.257 0 0 0 9 15.742188 A 0.257 0.257 0 0 0 9.2578125 16 A 0.257 0.257 0 0 0 9.3554688 15.980469L10.978516 15.40625L9.5917969 14.021484 z");
    background-color: #FF009A;
}

.su-pgedit-wrapper__highlight {
    clip-path: path("M22.628906 3.0039062C22.080406 2.9710312 21.521547 3.1316406 21.060547 3.4941406L9.5449219 12.535156C9.0729219 12.905156 9.029125 13.605297 9.453125 14.029297L15.970703 20.546875C16.394703 20.970875 17.093844 20.927078 17.464844 20.455078L26.505859 8.9394531C27.229859 8.0174531 27.149312 6.6991406 26.320312 5.8691406L24.130859 3.6796875C23.715859 3.2646875 23.177406 3.0367813 22.628906 3.0039062 z M 7.2617188 15.089844C7.0055938 15.089969 6.7496875 15.187313 6.5546875 15.382812L6.03125 15.904297C5.55225 16.383297 5.5002344 17.18925 5.9902344 17.65625C7.0172344 18.63625 7.03025 20.280297 6.03125 21.279297L8.7207031 23.96875C9.7197031 22.96875 11.364703 22.982719 12.345703 24.011719C12.812703 24.501719 13.616703 24.44775 14.095703 23.96875L14.617188 23.445312C15.008188 23.054312 15.007188 22.42125 14.617188 22.03125L7.96875 15.382812C7.77325 15.187813 7.5178437 15.089719 7.2617188 15.089844 z M 4.8242188 22.896484L2.9453125 24.775391L6.0292969 26.359375L7.1582031 25.230469L4.8242188 22.896484 z");
    background-color: #B200FF;
}

.su-pgedit-wrapper__comment {
    clip-path: path("M15 3C7.82 3 2 7.925 2 14C2 17.368 3.7933281 20.378484 6.6113281 22.396484C6.6832805 23.932468 6.4452784 26.053382 4.3261719 27.03125 A 0.5 0.5 0 0 0 4.3222656 27.033203 A 0.5 0.5 0 0 0 4 27.5 A 0.5 0.5 0 0 0 4.5 28 A 0.5 0.5 0 0 0 4.5429688 27.998047C6.9769949 27.982445 9.0432734 26.667034 10.46875 25.277344C10.92075 24.836344 11.550875 24.619328 12.171875 24.736328C13.081875 24.909328 14.028 25 15 25C22.18 25 28 20.075 28 14C28 7.925 22.18 3 15 3 z M 9 12C10.105 12 11 12.895 11 14C11 15.105 10.105 16 9 16C7.895 16 7 15.105 7 14C7 12.895 7.895 12 9 12 z M 15 12C16.105 12 17 12.895 17 14C17 15.105 16.105 16 15 16C13.895 16 13 15.105 13 14C13 12.895 13.895 12 15 12 z M 21 12C22.105 12 23 12.895 23 14C23 15.105 22.105 16 21 16C19.895 16 19 15.105 19 14C19 12.895 19.895 12 21 12 z");
    background-color: #0100FF;
}

.su-pgedit-input-color {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.su-pgedit-comment-wrapper{
    position: absolute;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: #0100FF;
}

.su-pgedit-comment-wrapper__comment-box{
    background-color: #0100FF;
    padding: 15px;
    padding-top: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.su-pgedit-comment-wrapper__comment-box__minimize-max{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.su-pgedit-comment-wrapper__comment-box__minimize,
.su-pgedit-comment-wrapper__comment-box__exit{
    width: 30px;
    height: 30px;
    scale: 0.5;
    cursor: pointer;
}

.su-pgedit-comment-wrapper__comment-box__exit{
    clip-path: path("M7 4C6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688L4.2929688 6.2929688C3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312L11.585938 15L4.2929688 22.292969C3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031L6.2929688 25.707031C6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031L15 18.414062L22.292969 25.707031C22.682969 26.098031 23.317031 26.098031 23.707031 25.707031L25.707031 23.707031C26.098031 23.316031 26.098031 22.682969 25.707031 22.292969L18.414062 15L25.707031 7.7070312C26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688L23.707031 4.2929688C23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688L15 11.585938L7.7070312 4.2929688C7.5115312 4.0974687 7.255875 4 7 4 z");
    background-color: red;
}
.su-pgedit-comment-wrapper__comment-box__minimize{
    clip-path: path("M5 13 A 2.0002 2.0002 0 1 0 5 17L25 17 A 2.0002 2.0002 0 1 0 25 13L5 13 z");
    background-color: white;
    position: relative;
    right: -10px;
}

.su-pgedit-comment-wrapper__comment-box__comment-section{
    color: white;
    outline: none;
    border: none;
}

.su-pgedit-wrapper__show-hide{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.su-pgedit-wrapper__show-hide__up-down{
    width: 30px;
    height: 30px;
    clip-path: path("M14.035156 1.9648438C12.930156 1.9648438 12.035156 2.8598438 12.035156 3.9648438L12.035156 18.964844L7.9648438 18.964844C7.5608438 18.964844 7.1950156 19.206078 7.0410156 19.580078C6.8850156 19.954078 6.9718125 20.384875 7.2578125 20.671875L14.328125 27.742188C14.719125 28.133187 15.351187 28.133187 15.742188 27.742188L22.814453 20.671875C23.005453 20.480875 23.107422 20.224844 23.107422 19.964844C23.107422 19.835844 23.08225 19.704078 23.03125 19.580078C22.87725 19.206078 22.511422 18.964844 22.107422 18.964844L18.035156 18.964844L18.035156 3.9648438C18.035156 2.8598438 17.140156 1.9648438 16.035156 1.9648438L14.035156 1.9648438 z");
    background-color: black;
    cursor: pointer;
}